<!-- <div *ngFor="let q of quizService.selectedCategory">
  <div class="questions-container">
    <div *ngFor="let question of q.quizQuestions" class="question">
      {{ question }}
    </div>
  </div>
  <div *ngFor="let answer of q.answers" class="answers-container">
    <div *ngFor="let singleAnswer of answer" class="answer">
      {{ singleAnswer }}
    </div>
  </div>
</div> -->

<!-- <div *ngFor="let q of quizService.selectedCategory">
  {{ q.quizQuestion }}
  {{ q.answers }}
</div> -->

<div>
  <div>
    <p>Domanda</p>
    {{ quizService.selectedCategory[index].quizQuestion }}
    <p>Risposte</p>
    {{ quizService.selectedCategory[index].answers }}
  </div>
  <button (click)="nextQuestion()">{{ TextButton }}</button>
</div>
