<div class="container">
  <div class="steps-container">
    <div
      *ngFor="let n of quizService.selectedCategory; index as i"
      class="step" [ngClass]="i === index ? 'selected' : ''"
    >
      {{ i + 1 }}
    </div>
  </div>
  <div class="question">
    {{ quizService.selectedCategory[index].quizQuestion }}
  </div>
  <div class="answers-container">
    <div
      *ngFor="let a of quizService.selectedCategory[index].answers; index as j"
      
      class="answer"
      (click)="onSelectedAnswer($event, j)"
    >
      {{ a }}
    </div>
  </div>
  <div class="button-container">
    <button *ngIf="!changeButton" (click)="nextQuestion()" [disabled]="!selected">Avanti</button>
    <button *ngIf="changeButton" (click)="goToResult()" [disabled]="!selected">
      Vai al Risultato
    </button>
  </div>
</div>
