.question {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.answer {
  width: 40%;
  /* text-align: center; */
  height: 2rem;
  background-color: rgb(104 168 252 / 14%);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 15px;
  color: white;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(104 168 252 / 14%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.selected {
  background: rgb(255, 53, 233);
  background: linear-gradient(
    90deg,
    rgba(255, 53, 233, 1) 0%,
    rgba(84, 21, 120, 1) 100%
  );
}

.button-container {
  padding: 2rem 1rem;
}

button {
  width: 100%;
  background: rgb(58, 143, 255);
  border: none;
  padding: 1rem 0;
  border-radius: 15px;
}

button:disabled {
  opacity: 0.3;
}
