/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  /* padding: 1rem 2rem; */
  background: #080e63d4;
  height: 100vh;
}

.container {
    padding: 1rem 2rem;
}
